<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="site.leos.apps.lespas">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <queries>
        <package android:name="com.niksoftware.snapseed" />
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="image/jpeg" />
        </intent>
    </queries>
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="geo" />
        </intent>
    </queries>
    <queries>
        <intent>
            <action android:name="com.google.zxing.client.android.SCAN" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent>
    </queries>

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".cameraroll.CameraRollActivity"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:exported="true">
            <intent-filter android:label="@string/app_name"
                tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        <activity-alias
            android:name=".Gallery"
            android:targetActivity=".cameraroll.CameraRollActivity"
            android:label="@string/gallery_app_name"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_gallery"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity
            android:name=".sync.ShareReceiverActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.LesPas.Transparent"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".auth.NCLoginActivity"
            android:theme="@style/Theme.LesPas"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />
        <service
            android:name=".auth.NCAuthenticatorService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/nc_authenticator" />
        </service>
        <service
            android:name=".sync.SyncService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/nc_syncadapter" />
        </service>

        <provider
            android:name=".sync.StubProvider"
            android:authorities="@string/sync_authority"
            android:exported="false"
            android:syncable="true" />

        <receiver
            android:name=".SystemBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.app.action.DEVICE_OWNER_CHANGED" />
                <action android:name="android.accounts.action.ACCOUNT_REMOVED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="@string/file_authority"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <provider
            android:authorities="@string/muzei_authority"
            android:name=".muzei.LesPasArtProvider"
            android:label="@string/muzei_provider_description"
            android:permission="com.google.android.apps.muzei.api.ACCESS_PROVIDER"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.apps.muzei.api.MuzeiArtProvider"/>
            </intent-filter>
            <meta-data
                android:name="settingsActivity"
                android:value="site.leos.apps.lespas.muzei.LesPasArtProviderSettingActivity" />
        </provider>

        <activity android:name="site.leos.apps.lespas.muzei.LesPasArtProviderSettingActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar.Translucent"
            android:exported="true"/>
    </application>

</manifest>