<?xml version="1.0" encoding="utf-8"?>
<!--
  ~   Copyright 2019 Jeffrey Liu (scubajeffrey@protonmail.ch)
  ~
  ~   Licensed under the Apache License, Version 2.0 (the "License");
  ~   you may not use this file except in compliance with the License.
  ~   You may obtain a copy of the License at
  ~
  ~       http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~   Unless required by applicable law or agreed to in writing, software
  ~   distributed under the License is distributed on an "AS IS" BASIS,
  ~   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~   See the License for the specific language governing permissions and
  ~   limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Network access -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- SyncAdapter management -->
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <!-- Storage access permissions -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.MANAGE_MEDIA" tools:ignore="ProtectedPermissions" />


    <!-- For displaying status when transferring data between internal storage and SD storage -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- For setting screen brightness when playing video -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" tools:ignore="ProtectedPermissions" />

    <!--  Indicates use of Android's VR-mode, available only on Android N+.  -->
    <uses-feature android:name="android.software.vr.mode" android:required="false"/>
    <!--  Indicates use of VR features that are available only on Daydream-ready devices.  -->
    <uses-feature android:name="android.hardware.vr.high_performance" android:required="false"/>

    <queries>
        <package android:name="com.niksoftware.snapseed" />
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="image/jpeg" />
        </intent>
    </queries>
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="geo" />
        </intent>
    </queries>
    <queries>
        <intent>
            <action android:name="com.google.zxing.client.android.SCAN" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent>
    </queries>

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        android:localeConfig="@xml/locales_config"
        android:enableOnBackInvokedCallback="true">

        <uses-library android:name="libOpenCL.so" android:required="false"/>
        <uses-library android:name="libOpenCL-pixel.so" android:required="false"/>

        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:clearTaskOnLaunch="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/app_name"
                tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".sync.ShareReceiverActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.LesPas.Transparent"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>

        <service
            android:name=".auth.NCAuthenticatorService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/nc_authenticator" />
        </service>
        <service
            android:name=".sync.SyncService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/nc_syncadapter" />
        </service>

        <provider
            android:name=".sync.StubProvider"
            android:authorities="@string/sync_authority"
            android:exported="false"
            android:syncable="true" />

        <receiver
            android:name=".SystemBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.app.action.DEVICE_OWNER_CHANGED" />
                <action android:name="android.accounts.action.ACCOUNT_REMOVED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="@string/file_authority"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <provider
            android:authorities="@string/muzei_authority"
            android:name=".muzei.LesPasArtProvider"
            android:label="@string/muzei_provider_description"
            android:permission="com.google.android.apps.muzei.api.ACCESS_PROVIDER"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.apps.muzei.api.MuzeiArtProvider"/>
            </intent-filter>
            <meta-data
                android:name="settingsActivity"
                android:value="site.leos.apps.lespas.muzei.LesPasArtProviderSettingActivity" />
        </provider>

        <activity android:name="site.leos.apps.lespas.muzei.LesPasArtProviderSettingActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar.Translucent"
            android:exported="true"/>
    </application>

</manifest>