<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="site.leos.apps.lespas">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LesPas">

        <activity
            android:name=".LesPas"
            android:launchMode="singleTask"
            android:theme="@style/Theme.LesPas.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" />

        <activity
            android:name=".auth.NCLoginActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />

        <service
            android:name=".auth.NCAuthenticatorService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/nc_authenticator" />
        </service>

        <service
            android:name=".sync.SyncService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/nc_syncadapter" />
        </service>

        <provider
            android:name=".sync.StubProvider"
            android:authorities="@string/sync_authority"
            android:exported="false"
            android:syncable="true" />

        <receiver
            android:name=".SystemBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.app.action.DEVICE_OWNER_CHANGED" />
                <action android:name="android.accounts.action.ACCOUNT_REMOVED" />
            </intent-filter>
        </receiver>

    </application>
</manifest>